.profile-form-group label {
  display: block;
}

.profile-form-group .form-control {
  border: 0;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 0;
  color: #868686;
}

.profile-form-group .form-control:focus {
  box-shadow: none;
}

.profile-form {
  padding: 35px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #868686;
}

.profile-form-group {
  margin-bottom: 1.5rem;
}

.btn-profile {
  width: 160px;
}

.btn-primary-filled {
  color: #fff;
  background: #51adb5;
}

.btn-primary-outline {
  border: 1px solid #51adb5;
}

.btn-primary-filled.hvr-sweep-to-right::before {
  background: #3a8086;
}

.btn-primary-outline.hvr-sweep-to-right::before {
  background: #3a8086;
}

.btn-primary-outline:hover {
  color: #fff;
}

.hotel-logo {
  width: 100px;
  height: 80px;
  object-fit: cover;
}

.license-copy {
  width: 160px;
  height: 80px;
  object-fit: cover;
}

.profile-form-group .form-control[readonly] {
  background-color: transparent;
}

#v-pills-editprofile .profile-form-group .form-control {
  border: 1px solid #e5e5e5;
}

.file-input-group .file-input {
  display: none;
}

.profile-form-group .fileUploadLabel {
  margin-left: 1rem;
}

.file-upload-wrapper {
  display: flex;
  align-items: flex-end;
}

.profile-form-group .fileUploadLabel {
  margin-left: 1rem;
  margin-bottom: 0;
  border: 1px solid #ccc;
  padding: 0.1rem 0.5rem;
  color: #444;
  font-size: 15px;
  cursor: pointer;
}

.changepassword-wrapper .form-control {
  border-radius: 0;
  height: 50px;
  border-color: #e5e5e5;
}

.changepassword-wrapper .form-control:focus {
  box-shadow: none;
}

.changepassword-wrapper {
  padding: 3rem 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.changepassword-wrapper .btn-profile {
  height: 50px;
  width: 200px;
}
